*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

    
nav{
    background-color:  #eaf6b4 ;
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

nav > img{
    height: 10rem;
}

ul{
    width: 50%;
    /* border: solid; */
    list-style: none;
    display: flex;
    
}

a{display: flex;
    align-items: center;
    background-color: #f6c0b4;
    width: 5rem;
    height: 2rem;
    border-radius: 0.2rem;
}

a:hover{
    background-color: #b4f6c0;
}

/* ********Main**************** */

main{
    min-height: 40rem;
    width: 80%;    
}

h1{
    padding: 2rem 0 2rem 3rem;
}

section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    gap: 2rem;
}

article > img{
    height: 18rem;
    margin-bottom: 1rem;
}

.art{
    width: 32rem;
    padding: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin-top: 0.3rem;
    border-radius: 0.5rem;
    
}

.art1{
    width:85%;
    padding: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.textoImg{
    margin: 2rem;
}


/* *********FOOTER*************** */
footer{
    margin-top: 2rem;
}

footer > p{
    background-color: #c9f6b4;
    height: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.subFooter{background-color: #eaf6b4;
    height: 10rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.footerCen{
    width: 33%;
    display: flex;
    /* border: solid red; */
}
.footerCen > img{
    height: 10rem;
}

.redSocial{
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border: solid blue; */
}

.redSocial > i{
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 2rem;
    width: 20%;
   /*  border: solid ; */
}

.redSocial > a{
    background-color: #eaf6b4 ;
    text-decoration: none;
    color: black;
}
.info{
    width: 33%;
    display: flex;
    flex-direction: column;
}

/* ***************FORMULARIO*********** */

  .formulario{
    display: flex;
   /*  width: 100%; */
    margin-top: 2rem;
      }
      fieldset{
        width: 65%;
      }
    legend{
        font-weight: 600;
        font-size:xx-large;
        margin-bottom: 1rem;
    }
      form{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
      }
    
      input{
        width: 80%;
        padding: 0.5rem;
        margin: 0.5rem 0 0.5rem 0;
        border: none;
        border-bottom: solid 1px grey;
        border-radius: 0.5rem;
      }
    
      label{
        margin-top: 0.5rem;
      }
    
    .radio{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        padding: 1rem;
    
    }
    
    input[type="submit"] {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 1rem;
        margin-bottom: 2rem;
    }
    
    input[type="submit"]:hover {
        background-color: #45a049;
        
    }
    
    textarea{
        resize: none;
        border-radius: 0.5rem;
        width: 90%;
    }
    
   /*  ******LOGIN********* */

   main{
    width: 100%;
    background-image: url(/assets/fondo_login.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-image: linear-gradient(#b4f6c0 ,white);


   }
   .login1{
    width: 65%;
   }
   h3{
    padding: 2rem 0 2rem 2rem;
   }

   .textoLogin{
    width: 50%;
    margin-left: 3rem;
    margin-bottom: 3rem;
   }

   .registrate{
        margin-top: 2rem;
        width: 20rem;
        text-decoration: none;
        color: black;
        display: flex;
        align-items: center;
    }

.avisoSign{
    margin-left: 2rem;
    margin-bottom: 2rem;
    width: 60%;
}

/* *******TABLET*********** */
@media screen and (max-width: 950px) {

.art1{
    flex-direction: column;
}
.fielLogin{
    width: 80%

}
}

/* ***********Mobil********** */

@media screen and (max-width: 550px){
    .avisoSign{
        width: 80%;
    }

    .login1{
        width: 95%;

    }

    .info{
        display: none;
    }
}